<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hfoss.posit.android"
	android:versionCode="1" android:versionName="0.7.2 beta">
	<uses-sdk android:minSdkVersion="8"/>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.READ_PHONE_STATE">Getting the IMEI code for identification</uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
	
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<!--  Careful with these.  They let the app delete conversation threads.
-->

	<application android:icon="@drawable/acdivoca" 
		android:label="@string/app_name" 
		android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />	
		<activity android:name=".PositMain" 
			android:configChanges="orientation|keyboardHidden"
			android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<!--  CAUTION:  The following allow the app to override the HOME button.  
				<category android:name="android.intent.category.HOME" />
 	         	<category android:name="android.intent.category.DEFAULT" />
 	         	-->
			</intent-filter>
		</activity>
		<activity android:name=".RegisterActivity"/>
		<activity android:name=".NewProjectActivity"/>	
		<activity android:name=".AboutActivity" />
		
		<!-- Activities pertaining to AcdiVocaFind plugin -->
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaFindActivity" 
			android:launchMode="singleTop"
			android:configChanges="orientation|keyboardHidden"
			/>
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaNewAgriActivity" 
			android:launchMode="singleTop"
			android:configChanges="orientation|keyboardHidden"
			/>
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaListFindsActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaLookupActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaUpdateActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.LoginActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />	
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.SearchFilterActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />	
		<activity android:name="org.hfoss.posit.android.plugin.acdivoca.AcdiVocaAdminActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />						
					
		<activity android:name="org.hfoss.posit.android.api.SettingsActivity" />
		
		
		<activity android:name=".ImageViewActivity" />

		<activity android:name=".SettingsActivity" />	

		<activity android:name=".SyncActivity" android:configChanges="orientation|keyboardHidden" />

	    <receiver android:name=".plugin.acdivoca.AcdiVocaSmsManager">
                <intent-filter>
                        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                </intent-filter>
        </receiver>

	
	
	</application>
</manifest>
